$primaryColor: #7ebc89;
$secondaryColor: #74F18B;
$backgroundColor: #E6DFE7;
$fontColor: #4e4b5c;

body {
  background-color: $backgroundColor;
  color: $fontColor;
  font-family: Arial, sans-serif;
  margin: 1;
  padding: 1;
}

button {
  background-color: $primaryColor;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 0;
  border-radius: 4px;
  box-shadow: #4e4b5c 0px 2px 4px;
  ;
}

button:hover {
  background-color: $secondaryColor;

}

a {
  color: $primaryColor;
  text-decoration: none;
  font-weight: bold;
}

a::after {
  content: " →";
}
a:hover {
    text-decoration: underline;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  width: 80%;
  text-align: center;
}

input[type="radio"],
input[type="checkbox"] {
  color: $secondaryColor;
    margin: 0 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  margin: 10px 0;
  text-align: left;
}